body{
    margin: 0;
}

.d-none{
    display: none;
}

.pokemon-container{
    height: 100vh;
    width: 100%;
    background-image: url('img/pokemon-background.jpg');
    background-position: center;
}

.header{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton';
    background-color: rgba(0,0,0,0.2);
}

h1{
    letter-spacing: 5px;
    font-size: 38px;
    color: black;
}

.all-pokemon{
    max-height: 80vh;
    max-width: 100%;
    flex-wrap: wrap;
    overflow-y: scroll;
}

#pokemon{
    height: 100px;
    width: 200px;
}

